{% load static %}
{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <td class="esd-stripe" align="center">
    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600">
        <tbody>
            <tr>
                <td class="esd-structure es-p15t es-p20r es-p20l" align="left">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" class="esd-block-image es-p10t es-p10b" style="font-size: 0px;"><a target="_blank"><img src="{% static 'imgs/WINGMAX-logo.png' %}" alt style="display: block;" width="100"></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="esd-block-text es-p15t es-p15b es-m-txt-c" esd-links-underline="none">
                                                    <h1>Thanks for joining us!</h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="esd-block-text es-p10t es-p10b">
                                                    <p style="font-size: 16px;">Hello, {{ user.username }}! Thanks for joining us! Please click on the link below to confirm your registration</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="esd-structure es-p10b es-p20r es-p20l" align="left">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-radius: 5px; border-collapse: separate;">
                                        <tbody>
                                            <tr>
                                                <td align="center" class="container py-5">
                                                    <a href="http://{{domain}}{% url 'api:activate_user' uidb64=uid token=token %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"  > Mail Confirm </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="esd-block-text es-p20t es-p10b">
                                                    <p style="line-height: 150%;"><br>Thanks,</p>
                                                    <p>WINGMAX</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>
</body>
</html>
{% endautoescape %}